<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Post</title>
</head>
<body>
    <ol>
        {% for fhash, ghash in hashes %}
        <li>
            <dl>
                <dt>File Name:</dt>
                <dd>{{ filenames[loop.index0] }}</dd>
                <dt>File Hash (fhash):</dt>
                <dd>{{ fhash }}</dd>
                <dt>Generated Hash (ghash):</dt>
                <dd>{{ ghash }}</dd>
            </dl>
        </li>
        {% endfor %}
    </ol>
</body>
</html>
